

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display grid: ;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.h5{
  width: 50%;
  height:80px;
  color: #1d5cf0;
   padding: 20px;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}
label{
    float: left;
}

.dropbtn,label {
  background-color: #04AA6D;
  float: right;
  color: white;
  padding: 16px;
  font-size: 16px;
  position: relative;
  border: none;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ac1a1a;}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  glyph-orientation-horizontal: px ;
}
a :hover{
 background-color: aqua;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 780px) {
  nav, article {
    width: 100%;
    height: auto;
    background-color: aqua;
  }
}
@media (min-width:780px) {
    header, footer{
        background-color: rgb(224, 130, 14);
    }
}